@page "/BlazorForm"
@using BlazorApp1.Models

<div class="col-12 offset-md-2 col-md-8 border">
    <div class="text-center pt-4">
        <h2 class="text-success">Product Form</h2>
        <hr>
    </div>
    <div class="mx-2 px-2">
        <EditForm FormName="ProductCreate" Model="Product" OnValidSubmit="HandleProductCreate" OnInvalidSubmit="HandleProductCreateInvalid">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group py-2">
                Product Name
                <InputText class="form-control" @bind-Value="Product.Name"></InputText>
                <ValidationMessage For="@(() => Product.Name)"></ValidationMessage>
            </div>
            <div class="form-group py-2">
                Price
                <InputNumber class="form-control" @bind-Value="Product.Price"></InputNumber>
                <ValidationMessage For="@(() => Product.Price)"></ValidationMessage>
            </div>
            <div class="form-group py-2">
                Category
                <InputSelect class="form-select" @bind-Value="Product.Category">
                    @foreach (var category in Enum.GetValues(typeof(Category)))
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group py-2">
                IsActive
                <InputCheckbox class="form-check" @bind-Value="Product.IsActive"></InputCheckbox>
            </div>
            <div class="form-group py-2">
                Available After
                <InputDate class="form-control" @bind-Value="Product.AvailableAfter"></InputDate>
            </div>
            <button class="btn btn-primary my-3" type="submit" style="width: 200px;">Create Product</button>
            <p class="text-success">@(IsProcessing == true ? "Processing..." : "")</p>
        </EditForm>

        @* <EditForm FormName="ProductCreate" Model="ProductTemp" OnValidSubmit="HandleProductCreateTemp"> *@
        @* </EditForm> *@
    </div>
    
    @if (createdProduct != null)
    {
        <div class="mx-2 pt-4">
            <hr>
            <h2 class="text-success">Product Created</h2>
            <div class="px-4">
                Name: @createdProduct.Name <br/>
                Price: @createdProduct.Price <br/>
                Category: @createdProduct.Category <br/>
                IsActive: @createdProduct.IsActive <br/>
                Available After: @createdProduct.AvailableAfter <br/>
            </div>
        </div>
    }
    
</div>

@code {
    // [SupplyParameterFromForm(FormName = "ProductCreateTemp")] public Product ProductTemp { get; set; } = new Product();
    [SupplyParameterFromForm(FormName = "ProductCreate")]
    public Product Product { get; set; } = new Product
    {
        AvailableAfter = DateOnly.FromDateTime(DateTime.Now)
    };
    private bool IsProcessing = false;
    private Product? createdProduct { get; set; }

    private async Task HandleProductCreate()
    {
        IsProcessing = true;
        createdProduct = null;
        await Task.Delay(3000);
        createdProduct = Product;
        Product = new();
        IsProcessing = false;
    }
    
    // private async Task HandleProductCreateTemp()
    // {
    //     IsProcessing = true;
    //     createdProduct = null;
    //     await Task.Delay(3000);
    //     createdProduct = ProductTemp;
    //     Product = new();
    //     IsProcessing = false;
    // }
    
    private async Task HandleProductCreateInvalid()
    {
        IsProcessing = true;
        await Task.Delay(3000);
        IsProcessing = false;
    }
}